.credit-card{
    background: rgb(82,27,90);
    background: linear-gradient(151deg, rgba(82,27,90,1) 0%, rgba(105,61,15,1) 60%);
    height: 12rem;
    width: 20rem;
    border-radius: 1rem;
    padding: 16px;
    color: #F6F6F6;
    -webkit-box-shadow: 21px 7px 54px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 21px 7px 54px -22px rgba(0,0,0,0.75);
    box-shadow: 21px 7px 54px -22px rgba(0,0,0,0.75);
    border: 0.5px solid #F6F6F6;
    margin-top: 2rem;
}

.logo-row{
    height: 40%;
    margin: 0px;
}

.card-number-row{
    height: 30%;
    margin: 0px;
}

.name-row{
    height: 30%;
    margin: 0px;
}


@media (max-width: 575.98px) {
    
}
  
@media (min-width: 576px) and (max-width: 767.98px) {
    
}
  
@media (min-width: 768px) and (max-width: 991.98px) {
    .credit-card{
        position: absolute;
        top: 30%;
        left: 35%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .credit-card{
        position: absolute;
        top: 30%;
        left: 35%;
    }
}
  
@media (min-width: 1200px) {
    .credit-card{
        position: absolute;
        top: 30%;
        left: 35%;
    }
}
  
  


