body{
  background-color: #F6F6F6;
}

.form-col{
  padding: 5rem !important;
}

.card-col{
  background: rgb(37,10,80);
  background: linear-gradient(151deg, rgba(37,10,80,1) 8%, rgba(9,9,121,1) 81%);
}