body{
  background-color: #F6F6F6;
}

.form-col{
  padding: 3rem !important;
}

.card-col{
  background: rgb(37,10,80);
  background: linear-gradient(151deg, rgba(37,10,80,1) 8%, rgba(9,9,121,1) 81%);
}

@media (max-width: 575.98px) {

}
  
@media (min-width: 576px) and (max-width: 767.98px) {
    
}
  
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}
  
@media (min-width: 1200px) {
  .form-col{
    padding: 10rem !important;
  }
}